.tag {
  border-radius: 3px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  display: inline-block;
  padding: 0 4px;
}

.yellow {
  background: #ffe380;
  color: #42526e;
}
.blue {
  background: #b3d4ff;
  color: #0747a6;
}
.green {
  background: #79f2c0;
  color: #006644;
}
.purple {
  background: #c0b6f2;
  color: #403294;
}
.red {
  background: #ffbdad;
  color: #42526e;
}
